<div class="profile-card">
  <!--User Profile Image-->
  <div class="profile-card-image-block">
    <img class="profile-card-image" src="https://picsum.photos/100" />
  </div>
  
  <!--User Name-->
  <p class="profile-user-name">
    John Doe
  </p>

  <!--Profile Information-->
  <div class="profile-information-table-block">
    <table class="profile-information-table">
      <thead>
        <th>Polls</th>
        <th>Answered</th>
      </thead>
      <tbody>
        <tr>
          <td>10</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>