<div class="card">
  <div class="card-img poll-card-image-block">
    <img class="poll-card-image" src="https://picsum.photos/100/50">
  </div>
  
  <div class="card-block">
      <div class="card-media-block">
          <img src="https://picsum.photos/32" class="card-media-image user-image">
          <div class="card-media-description">
              <span class="card-media-title">
                  <strong>User Name</strong>
              </span>
              <span class="card-media-text">
                  <h4 class="card-title">Title</h4>
              </span>
          </div>
      </div>
    <p class="card-text">
      This is some description for the item, this should be replaced later.
    </p>
  </div>
  <div class="card-block">
  <form>
    <section class="form-block">
      <label>Options</label>
      <div class="form-group">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="radio">
              <input type="radio" name="gridRadios" id="checkrads_9">
              <label for="checkrads_9">Radio option 1</label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="radio">
              <input type="radio" name="gridRadios" id="checkrads_10" checked>
              <label for="checkrads_10">Radio option 2 (checked)</label>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </form>
</div>
  <div class="card-footer">
    <a href="..." class="btn btn-sm btn-link">Like</a>
    <a href="..." class="btn btn-sm btn-link">Comment</a>
  </div>
</div>