
<clr-main-container>
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="view-columns"></clr-icon>
            <span class="title"><strong>Polls</strong></span> &nbsp;
            <span class="title-light"> By HISAB</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="..." class="active nav-link"><span class="nav-text">Home</span></a>
        <a href="..." class="nav-link"><span class="nav-text">Explore</span></a>
    </div>
    <form class="search">
      <label for="search_input">
          <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
  </form>
  <div class="header-actions">
    <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
            <clr-icon shape="user"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="..." clrDropdownItem>About</a>
            <a href="..." clrDropdownItem>Preferences</a>
            <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
    </clr-dropdown>
</div>
</header>

  <nav class="subnav" [clr-nav-level]="1">
      ...
  </nav>
  <div class="content-container">
      <main class="content-area">
          <app-poll-list>

          </app-poll-list>
      </main>
      <nav class="sidenav" [clr-nav-level]="2">
          ...
      </nav>
  </div>
</clr-main-container>
